
body {
	background-color: #505050;
}
#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;

}

#header {
	background-color: 	#909090;
	width: 1300px;
	height: 120px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 8px 10px black;

}

#headpic {
	width: 400px;
	position: absolute;
	top: 15px;
	float: left;
}

#reload {
	padding: 15px;
	float: right;
	position: absolute;
	left: 1255px;
	top: 2px;
	width: 20px;
}

#close {
	padding: 10px;
	float: right;
	position: absolute;
	left: 1260px;
	top: 95px;
	width: 25px;
}

#mglass {
	padding: 10px;
	float: right;
	position: absolute;
	left: 1000px;
	top: 4px;
}

#leftbar {
	background-color: #909090;
	width: 150px;
	height: 350px;
	position: relative;
	margin-left: 5%;
	border-radius: 15px;
	box-shadow: 8px 10px black;

}

#rightbar {
	background-color: #909090;
	width: 140px;
	height: 350px;
	position: relative;
	margin-right: 2%;
	float: right;
	top: -862px;
	border-radius: 15px;
	box-shadow: 8px 10px black;

}

#cluster {
	float: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 870px;
	top: -350px;
	left: 230px;
	border: 10px solid #909090;
	border-radius: 15px;
	box-shadow: 8px 10px black;
}

#arrow {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 5px;
}

#hand {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
}

#oeil {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
	border: 5px solid red;
}
#outil {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
}

#chaticon {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
}

#book {
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 6px;
}

#towel {
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 6px;
}

#brick {
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-size: 20px;
	background-repeat: repeat-y;
	background-image: url("brick.jpg");
	border: 5px solid red;
}

#backimage {
	width:80%;
	height:20%;
	position:absolute;
	background:transparent	url("resources/brick.jpg") repeat scroll;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
	left: 10px;
}


#bottombar {
	background-color: #A3FD92;
	width: 600px;
	height: 190px;
	padding: 2px;
	border-radius: 15px;
	box-shadow: 8px 10px black;
	position: relative;
	top: -420px;
	left: -50px;
}

p {
	position: relative;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	left: 20px;
}

#ital {

	font-style: italic;
}

#bigfont {
	font-size: 35px;
}

#shadow {
	text-shadow: 3px 3px 3px #ff3333;
}

#respond {
	position: relative;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	left: 20px;
	top: -25px;
}

#text {
	width: 400px;
}
#ikea {
	width: 400px;
	border: 10px;
	border-color: red;
	position: relative;
	float: center;

}
#apple {
	display: block;
	width: 400px;
	border-color: red;
	position: absolute;
	float: center;
	right: 0px;
	bottom: 0px;
}
